minecraft-data
.env
.env.yml
enigmatica
manifest.json
modlist.html
grafana-token.txt
folder-id.txt
autossh.log

# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraformrc
terraform.rc
*.tfvars
!example.tfvars
!terraform.tfvars
.terraform.lock.hcl
terraform.tfvars